/* Search bar */
.search-bar {
    padding: 1rem;
    text-align: center
}

.search-bar form {
    position: relative;
    display: inline-block;
    width: 70%;
    min-width: 165px
}

.search-bar input {
    width: 100%;
    padding: .5rem 2.5rem .5rem .5rem;
    border: 1px solid #859f3d;
    border-radius: 5px
}

.search-bar i {
    position: absolute;
    right: .8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}





/* Filter button */
.filter-button {
    padding: .5rem;
    background-color: #859f3d;
    color: #f6fcdf;
    border: none;
    border-radius: 5px;
    display: inline-block;
    min-width: 165px;
    margin-top: 1rem
}





/* Results */
.results {
    padding: 1rem;
}

.result-item {
    background-color: #31511e;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    min-width: 167px
}

.result-item__details p {
    margin-bottom: .3rem
}





/* Filters panel */
.filters-panel {
    display: none;
    margin: 1rem 0 1rem;
}





/* Pagination */
.pagination {
    text-align: center;
    margin-bottom: 2rem;
}





/* Media query for desktop */
@media (min-width:1000px) {
    .search-bar {
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 1200px
    }

    .results {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        padding: 2rem;
        width: 80%;
        max-width: 1000px
    }

    .result-item {
        background-color: #31511e;
        padding: 1rem;
        border-radius: 5px;
        min-width: 200px
    }
}