/* Search bar */
.search-bar {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar form {
    position: relative;
    display: inline-block;
    width: 60vw;
    max-width: 980px;
}

.search-bar input {
    width: 100%;
    padding: .5rem 2.5rem .5rem .5rem;
    border: 1px solid #859f3d;
    border-radius: 5px
}

.search-bar i {
    position: absolute;
    right: .8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}


/* Filter button */
.filter-button {
    width: 30vw;
    max-width: 150px;
    min-width: 70px;
    display: inline-block;
}

.filters-title {
    margin-bottom: 1rem;
}

.filters-title-parallels {
    margin-top: 1rem;
}

.filters-label {
    margin-top: 4rem;
}

.apply-filters-btn {
    display: block;  /* ensures the element can take a width and center */
    margin: 1.5rem auto 0 auto;
    width: 30vw;
    max-width: 150px;
    min-width: 70px;
}


/* Results */
.results {
    width: 90vw;
    margin: 0 auto;
    padding: 1rem;
    min-width: 320px;
}

.result-item {
    background-color: #31511e;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.result-item__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.result-item__details p {
    margin-bottom: 0.5rem;   /* trochę większy odstęp między wierszami */
    line-height: 1.4;       /* poprawa czytelności tekstu */
    word-wrap: break-word;  /* albo "overflow-wrap: break-word;" */
    white-space: normal;    /* pozwala na normalne zawijanie linii */
}

.profile-button {
    width: 7rem;
}





/* Filters panel */
.filters-panel {
    display: none;
    margin-bottom: 1rem;
}


/* Pagination */
.pagination {
    text-align: center;
    margin-bottom: 2rem;
}

.pagination-btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #859f3d;
    color: #1a1a19;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.pagination-btn:hover {
    background-color: #31511e;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.prev-btn {
    border-radius: 5px 0 0 5px;
}

.next-btn {
    border-radius: 0 5px 5px 0;
}





/* Media query for desktop */
@media (min-width:1000px) {
    .search-bar {
        width: 90%;
        max-width: 1200px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .results {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        padding: 1rem;
        width: 80%;
        max-width: 1300px;
        margin: 0 auto; /* centra grid na środku */
    }

    .result-item {
        background-color: #31511e;
        padding: 1rem;
        border-radius: 5px;
    }

    .filter-button {
        margin-left: .5rem;
        margin-top: 0;
    }

    .apply-filters-btn {
        display: block;  /* ensures the element can take a width and center */
        margin-left: 0;
        margin-top: 1.5rem;
        width: 30vw;
        max-width: 150px;
        min-width: 70px;
    }
}