/* Main login page */
.login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center 
}





/* Left panel */
.login-page__left-panel {
    height: 100vh;
    background: linear-gradient(0deg, #31511e, #859f3d);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.left-panel__logo {
    width: 60%
}





/* Right panel */
.login-page__right-panel {
    height: 100vh;
    background-color: #1a1a19;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

/* Login box */
.login-box {
    padding: 0 2rem
}

.login-box__title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f6fcdf;
    font-weight: 600
}

.login-box__subtitle {
    color: #f6fcdf;
    margin-bottom: 20px
}

/* Input fields */
.form__input-group {
    position: relative;
    margin-bottom: 15px
}

.form__input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%)
}

.form__input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #859f3d;
    background-color: transparent;
    border-radius: 5px;
    color: #f6fcdf
}

/* Login button */
.form__button {
    width: 100%;
    padding: 10px;
    background-color: #859f3d;
    color: #1a1a19;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.form__button:hover {
    background-color: #31511e
}


/* Signup text */
.login-box__signup-text {
    text-align: center;
    margin-top: 20px;
    color: #f6fcdf
}

.login-box__signup-link {
    color: #859f3d;
    text-decoration: none
}

.login-box__signup-link:hover {
    text-decoration: underline
}





/* Media query for smaller screens */
@media (max-width:1000px) {

    body,
    html {
        overflow: auto
    }

    .login-page {
        flex-direction: column;
        height: 100vh
    }

    .login-page__left-panel {
        width: 100%;
        height: 40vh
    }

    .login-page__right-panel {
        width: 100%;
        height: 60vh
    }

    .left-panel__logo {
        max-width: 300px;
        min-width: 180px
    }

    .login-box {
        margin-top: 2rem;
        min-width: 247px
    }

    .login-page__right-panel {
        align-items: flex-start
    }
}